
@charset "Shift_JIS";

/* mypage */
#mypage #areaMypage {
	width:750px;
	margin:0 auto 10px;
	overflow:hidden;
}
#mypage .hdg01 {
	margin-bottom: 22px;
	font-size: 120%;
	color: #333;
	padding: 19px 10px 20px 2px;
	border: 1px solid #6fb832;
	border-width:4px 0 1px;
	position:relative;
	text-align:left;
}
#mypage .hdg01 span.logout {
	display:inline-block;
	*display:inline;
    *zoom:1;
	font-size: 75%;
	position:absolute;
	top:15px;
	right:10px;
}

/* ここから削除

#mypage .hdg02 {
	margin-top:5px;
	margin-bottom: 15px;
	font-size: 100%;
	color: #333;
	background: url(/user/mypage/img/icon_hdg02.gif) no-repeat left top;
	padding-left: 14px;
	padding-top: 1px;
}
#mypage .hdg03 {
	margin-bottom: 15px;
	font-size: 89%;
	color: #333;
	background: url(/user/mypage/img/icon_hdg03.gif) no-repeat left 5px;
	padding-left: 13px;
}

ここまで削除 */

/* ここから追加 */

#mypage h2 {
    margin-bottom: 30px;
    font-size: 100%;
    background: url("http://54.250.123.70/user/mypage/img/icon_hdg02.gif") no-repeat scroll left top;
    padding-left: 14px;
    padding-top: 1px;
}

#mypage h3 {
    margin-bottom: 0.5em;
    font-size: 85%;
    font-weight: bold;
    background: url("http://54.250.123.70/user/mypage/img/icon_hdg03.gif") no-repeat scroll left 4px transparent;
    padding-left: 14px;
}

#mypage #mypageintroduction p,
#mypage #mypageintroduction ul,
#mypage #mypageintroduction ol{
    font-size: 81%;
    margin-bottom: 30px;
    line-height: 1.6em;
}

#mypag #mypageintroductione ol li{
    list-style-type: decimal;
    margin-left: 1.5em;
}

#mypage #mypageintroduction .notes {
	font-size:65%;
}

/* ここまで追加 */

#mypage ul.listNav01 {
	margin-bottom:20px;
	font-size: 81%;
	width:760px;
}
#mypage ul.listNav01 li {
	display:inline-block;
	*display:inline;
    *zoom:1;
    float:left;
}
#mypage ul.listNav01.col5 li {
    width:20%;
}
#mypage ul.listNav01.col4 li {
    width:25%;
}
#mypage ul.listNav01.col3 li {
    width:33.333%;
}
#mypage ul.listNav01.col2 li {
    width:50%;
}
#mypage ul.listNav01 li a {
	display:block;
	border:1px solid #6fb832;
	margin-right:10px;
	padding:10px;
	text-decoration:none;
	font-weight:bold;
	color:#6fb832;
	/*background: #FFF url(/user/mypage/img/arrow_down.gif) no-repeat 10px center;*/
}
#mypage ul.listNav01 li.current a,
#mypage ul.listNav01 li a:hover {
	background-color:#fffbb3;
}
#mypage div.profile .error {
	color: #db1c03;
	font-size: 81%;
	font-weight:bold;
}
#mypage table.tbl01 {
	font-size: 81%;
	width:100%;
	border-top:1px solid #CCC;
	margin-bottom:20px;
	border-collapse:collapse;
	border-spacing:0;
}
#mypage table.tbl01 tbody th,
#mypage table.tbl01 tbody td{
	text-align:left;
	background:#FFF;
	padding:15px;
	border-bottom:1px solid #CCC;
}
#mypage table.tbl01 tbody th {
	background-color:#e8f8db;
	font-weight:bold;
}
#mypage table.tbl01 tbody th.menu {
	border-left:1px solid #CCC;
	font-weight:normal;
}
#mypage table.tbl01 tbody td {
}
#mypage table.tbl01 tbody td input,
#mypage table.tbl01 tbody td select,
#mypage table.tbl01 tbody td textarea {
	border: #CCC solid 1px;
}
#mypage table.tbl01 tbody td textarea {
		width:100%;
}
#mypage table.tbl01 tbody td input.name,
#mypage table.tbl01 tbody td input.name2 {
	margin:0 15px 0 0;
}
#mypage table.tbl01 tbody td input.name3 {
	margin:0 0 0 0;
}
#mypage table.tbl01 tbody td input#entryVZipFirst,
#mypage table.tbl01 tbody td input#CandidateZIP1,
#mypage table.tbl01 tbody td select.birthday {
	width:4.0em;
}
#mypage table.tbl01 tbody td input#entryVZipLast,
#mypage table.tbl01 tbody td input#CandidateZIP2,
#mypage table.tbl01 tbody td select.year {
	width:5.0em;
}
#mypage table.tbl02 {
	font-size: 81%;
	width:100%;
	border:1px solid #CCC;
	border-width:1px 0 0 1px;
	margin-bottom:20px;
	border-collapse:collapse;
	border-spacing:0;
}
#mypage table.tbl02 th,
#mypage table.tbl02 td{
	text-align:left;
	background:#FFF;
	padding:10px;
	border:1px solid #CCC;
	border-width:0 1px 1px 0;
}
#mypage table.tbl02 thead th {
	background-color:#e8f8db;
	font-weight:bold;
	text-align:center;
}

#mypage select.birthday {
    margin-left: 10px;
}
#mypage input#entryVAddress{
    margin-left: 0;
}
#mypage .center{
	text-align:center;
	margin-bottom:20px;
}
#mypage .submit{
	display:inline-block;
	*display:inline;
    *zoom:1;
}

#mypage p {
	margin-bottom:10px;
}

#mypage div.box01 {
	margin-bottom:15px;
	border:solid 1px #CCC;
	padding:15px 15px 5px;
	font-size: 81%;
}
#mypage div.box02 {
	margin-bottom:15px;
	border:solid 1px #6fb832;
	padding:15px 15px 5px;
	font-size: 81%;
}
#mypage div.box03 {
	margin-bottom:15px;
	padding:10px 10px 1px;
	font-size: 81%;
	background:#e8f8db;
}
#mypage div.box02 .hdg02 {
	margin-top:0;
}
#mypage .alignC {
	text-align:center;
}

#mypage #iloginfrmwrap{
	border:1px solid #6fb832;
	width:400px;
	margin:20px auto 30px;
}

#mypage #iloginfrmwrap #iloginhdr{
	background:#6fb832;
	color:#FFF;
	font-weight:bold;
	padding:5px 10px 7px;
}

#mypage #iloginfrmwrap #iloginfrm{
	font-size:13px;
	padding:10px 10px 5px;
}

#mypage #iloginfrmwrap #iloginfrm .control-group{
	margin-bottom:10px;
}

#mypage #iloginfrmwrap #iloginfrm label{
	width:5em;
	text-align:right;
	margin-right:3px;
	display:inline-block;
	*display:inline;
    *zoom:1;
}

#mypage #iloginfrmwrap #iloginfrm .input-medium{
	border:1px solid #CCCCCC;
	padding:3px;
	width:260px;
	margin-bottom:5px;
}

#mypage #iloginfrmwrap #iloginfrm .btn-primary{
	width:9em;
	/*background:#6fb832;
	color:#FFF;
	border:none;
	padding:3px;
	border:1px solid #558e26;*/
}

#mypage #iloginfrmwrap #iloginfrm .btn-primary:hover{
	/*background:#78c736;*/
	cursor:pointer;
}



#mypage #iloginfrmwrap #iloginfrm .controls{
display:inline;
}

#mypage .hdg01,
#mypage ul.listNav01{
	zoom:1;
}
#mypage .hdg01:after,
#mypage ul.listNav01:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
	font-size:0;
	line-height:0;
}

#mypage #privacy{ height:5rem; overflow:auto;border:1px solid #cccccc; padding:1rem;}